.wrapper {
  width: 30%;
  height: 50%;
  background-color: white;
}

.mobile-wrapper {
  width: 70%;
  height: 80%;
  background-color: white;
}

.form {
  height: 100%;
  width: 100%;
}

.grid-container {
  height: 100%;
  width: 100%;
}

.grid-item {
  width: 50%;
}

.error-message {
  color: red;
  font-size: 1.5em;
  margin-top: 2%;
}

.mobile-error-message {
  color: red;
  font-size: 1em;
  margin-top: 2%;
}

.submit-button {
  width: 30%;
}
