.tab {
  width: 30%;
  height: 5%;
}

.mobile-tab {
  width: 70%;
  height: 5%;
}

.form-button {
  width: 20%;
  height: 100%;
  font-size: 1.5em;
  font-weight: bold;
}

.form-button:hover {
  background-color: gray;
}

.mobile-form-button {
  width: 20%;
  height: 100%;
  font-size: 0.8em;
  font-weight: bold;
}

.offer-button {
  width: 20%;
  height: 100%;
  margin-left: 2%;
  font-size: 1.5em;
  font-weight: bold;
}

.offer-button:hover {
  background-color: gray;
}

.mobile-offer-button {
  width: 20%;
  height: 100%;
  margin-left: 2%;
  font-size: 0.8em;
  font-weight: bold;
}
